# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment files
.env
*.env
config/.env

# Output folders
data/raw/*
data/processed/*

# macOS system files
.DS_Store
